body {
    font-family: 'Poppins', sans-serif;
}

.banner {
    background-image: url(img/banner.jpg);
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.overlay {
    height: 600px;
    color: #ffffff;
    background: rgba(17, 17, 17, 0.7);
    position: relative;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.banner-content h1 {
    margin: 0;
}

.template-logo {
    display: inline-block;
    margin-bottom: 30px;
}

.btn-group {
    margin-top: 50px;
    display: block;
}

.btn-group a+a {
    margin-left: 26px;
}

.demo-section {
    padding: 120px 0;
}

.demo-item {
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

.demo-item:hover {
    text-decoration: none;
}

.demo-thumb {
    position: relative;
}

.demo-thumb-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all 0.3s ease;
}

.demo-item:hover .demo-thumb-overlay {
    opacity: 1;
}

.demo-item .h4 {
    display: block;
    margin: 0;
    padding: 15px 0;
    font-size: 24px;
    transition: all 0.3s ease;
    color: #111111;
}

.demo-item:hover .h4 {
    text-decoration: none;
    color: #fd880a;
}

.footer-logo {
    display: inline-block;
}

footer p {
    color: #fff;
    margin-top: 30px;
}

footer .btn-group {
    margin-top: 30px;
}
